[Unit]
Description=Update hosts blocking
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=oneshot
# Get static hosts files
ExecStart=/bin/bash -c "cat %E/hosts.d/*.hosts > %T/static.hosts.tmp"
# Get http(s) hosts files
ExecStart=/bin/bash -c "xargs -n 1 curl --fail --silent < %E/hosts.d/*.txt &> %T/web.hosts.tmp"
# Concatenate
ExecStart=/bin/bash -c "cat %T/*.hosts.tmp | sed '/^[ \t]*#/d' | sed -e 's/[[:space:]]\+/ /g' | sort -u > %E/hosts"
RemainAfterExit=false

# Protections settings
ProtectProc=invisible
ProcSubset=pid
ProtectSystem=strict
ReadOnlyPaths=%E/hosts.d
ReadWritePaths=%E/hosts
ProtectHome=true
PrivateTmp=true
PrivateDevices=true
PrivateIPC=true
ProtectHostname=true
ProtectClock=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
RestrictAddressFamilies=AF_INET AF_INET6
